@using Microsoft.AspNetCore.Components.Sections
@using SchulCloud.Frontend.Components.Routing

<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentUICulture">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@OptionsAccessor.Value.BasePath" />

    <HeadOutlet @rendermode="InteractiveServer" />
    <FaviconLinks />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="/_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="/_content/MudBlazor.FontIcons.MaterialSymbols/css/font.min.css" rel="stylesheet" />
    <link href="/dist/css/AppBundle.styles.css" rel="stylesheet" />
</head>

<body>
    <MudPopoverProvider @rendermode="InteractiveServer"/>
    <MudDialogProvider @rendermode="InteractiveServer" />
    <MudSnackbarProvider @rendermode="InteractiveServer" />

    <Routes @rendermode="InteractiveServer" />

    <CookieConsent />

    <script src="/_framework/blazor.web.js" data-cookie-consent="strictly-necessary"></script>
    <script src="/_content/MudBlazor/MudBlazor.min.js" data-cookie-consent="strictly-necessary"></script>
    <script src="/dist/js/AppBundle.min.js" data-cookie-consent="strictly-necessary"></script>
</body>

</html>