::deep div.usr-group input {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

::deep div.pwd-group input {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

::deep .pwd-group span {
    border-top-right-radius: 0px !important;
}

::deep form.form-invalid div input:focus {
    box-shadow: 0 0 0 .25rem rgba(var(--bs-danger-rgb),.25) !important;
}

::deep form.form-invalid div.usr-group input {
    border-top-color: var(--bs-form-invalid-border-color) !important;
    border-left-color: var(--bs-form-invalid-border-color) !important;
    border-right-color: var(--bs-form-invalid-border-color) !important;
}

::deep form.form-invalid div.pwd-group input {
    border-left-color: var(--bs-form-invalid-border-color) !important;
    border-bottom-color: var(--bs-form-invalid-border-color) !important;
}

::deep form.form-invalid div.pwd-group span {
    border-right-color: var(--bs-form-invalid-border-color) !important;
    border-bottom-color: var(--bs-form-invalid-border-color) !important;
}

::deep div.pwd-group {
    margin-top: -1px;
}