@using Microsoft.AspNetCore.Components.Sections
@using SchulCloud.Web.Components.Routing

<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentUICulture">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <HeadOutlet @rendermode="InteractiveServer" />
    <FaviconLinks />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="/_static/_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="/_static/_content/MudBlazor.FontIcons.MaterialSymbols/css/font.min.css" rel="stylesheet" />
    <link href="/_static/dist/css/AppBundle.styles.css" rel="stylesheet" />
</head>

<body>
    <MudPopoverProvider @rendermode="InteractiveServer"/>
    <MudDialogProvider @rendermode="InteractiveServer" />
    <MudSnackbarProvider @rendermode="InteractiveServer" />

    <Routes @rendermode="InteractiveServer" />

    <script src="/_framework/blazor.web.js"></script>
    <script src="/_static/_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="/_static/_content/BlazorGoogleMaps/js/objectManager.js"></script>
    <script src="/_static/dist/js/Main.min.js"></script>
</body>

</html>