@inherits LayoutComponentBase
@layout MainLayout

<SchulCloudPageTitle Title="@Localizer["title"]" />

<div class="d-flex flex-column mt-3">
    <h3 class="text-center">@Localizer["tabHeader"]</h3>

    <div class="mt-4 mx-3 d-flex flex-column justify-content-center">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <NavLink class="nav-link" href="@Routes.SecurityIndex()" Match="NavLinkMatch.All">@Localizer["tabOverview"]</NavLink>
            </li>
        </ul>

        @Body
    </div>
</div>