@using Microsoft.AspNetCore.Authorization
@using SchulCloud.Server.Utils.Interfaces

@page "/error/404"
@rendermode InteractiveServer

@attribute [AllowAnonymous]

@inject IRequestState _state

<SchulCloudPageTitle Title="Not Found" />

<h3>Error: 404</h3>

@code {
}